@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://media.tenor.com/HUDIU5GEuFwAAAAM/jose-mourinho-funky.gif" target="_blank">Cerrar sesión</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ha ocurrido un error no contemplado.
    <a href="" class="reload">Volver a cargar esta página.</a>
    <a class="dismiss">🗙</a>
</div>
